@import "tailwindcss";

.react-datepicker-wrapper {
  display: inline-block;
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  border: 1px solid #e5e7eb;
  text-align: center;
  color: #6b7280;
  font-size: 0.875rem;
}

.react-datepicker {
  border-radius: 1rem !important;
  border: 1px solid #f3e9ff !important;
}

.react-datepicker__header {
  background-color: #fbf5fc !important;
  border-bottom: 1px solid #f3e9ff !important;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: #8134af !important;
  font-weight: 600 !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #6b7280 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: #8134af !important;
  color: white !important;
  border-radius: 9999px !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #a78bfa !important;
  color: white !important;
}